*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.score,
.choice,
.choices {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
}